body {
  margin: 0;
  background: #f5f6fa;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
h1, h2, h3 {
  color: #222;
}

.mat-header-cell,
.mat-sort-header-container,
.mat-sort-header-arrow {
  color: #111 !important;
  font-weight: bold;
}

