<div class="home-container">
    <h1>Bem-vindo ao Sistema de Reservas GOL!</h1>
    <p>
      Gerencie reservas, visualize dados e acompanhe estatísticas de voos de forma simples e eficiente.
    </p>
    <div class="home-actions">
      <a routerLink="/booking" class="action-btn">Visualizar Reservas</a>
      <a routerLink="/new-booking" class="action-btn">Nova Reserva</a>
      <a routerLink="/upload" class="action-btn">Upload Reservas</a>
      <a routerLink="/dashboard" class="action-btn">Dashboard</a>
    </div>
  </div>
